[submodule "information-security"]
	path = information-security
	url = https://ifokeev@github.com/IU7Abyss/Information-Security.git
[submodule "philosophy"]
	path = philosophy
	url = https://ifokeev@github.com/IU7Abyss/philosophy
[submodule "jurisprudence"]
	path = jurisprudence
	url = https://ifokeev@github.com/IU7Abyss/jurisprudence.git
[submodule "modeling"]
	path = modeling
	url = https://ifokeev@github.com/IU7Abyss/Scientific-Modelling-LW-2.git
